* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f0f8ff; /* Fondo suave azul claro */
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background: #004080; /* Azul oscuro */
    color: white;
    padding: 1rem 0;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

.acordeon {
    padding: 20px;
    flex-grow: 1; /* Permitir que la sección ocupe el espacio restante */
}

.item {
    background: blue; /* Azul medio */
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
}

.links {
    display: none; /* Ocultar por defecto */
    padding: 10px;
    background: #e0f7fa; /* Fondo suave para el contenido */
    border-left: 4px solid #004080; /* Línea lateral para resaltar */
}

.links ul {
    list-style: none;
    padding-left: 20px;
}

.links ul li {
    margin-bottom: 10px;
}

.links ul li a {
    color: #0073a0; /* Color del enlace */
    text-decoration: underline;
}

footer {
    background: #004080; /* Azul oscuro */
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.item {
    background: #0073a0; /* Azul medio */
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    display: flex; /* Usar flexbox para alinear contenido */
    align-items: center; /* Centrar verticalmente */
}


